@import url('https://fonts.cdnfonts.com/css/hero-new');


html {
    --s: 200px; /* control the size */
    --c: #fff; /* first color */
    
    --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
      #1095c1; /* second color */
    background-size: var(--s) var(--s);

    scroll-behavior:smooth;
  }
  
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    font-family: 'Hero new';
  }


  img{
    width: 100%;
  }

  /*--- NAVBAR ---*/

  .navbar{
    background-color: #1F2937;
  }

  div a{
    color: #F9FAF8;
    font-size: 24px;
    text-decoration:none;

  }

  ul{
    list-style: none;
    text-decoration: none;
    display: flex;
  }

  .navbar ul li{
    margin-left: 40px;
  }

  ul a{
    font-size: 18px;
    color: #E5E7EB;
  }

  ul a:hover{
    color: #b0b4bd;
  }

  h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
  }

  .container{
    max-width: 1100px;
    padding: 17px 30px;
    margin: 0 auto;
  }

  .navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 /*--- IMAGE ---*/

.header{
    background-color: rgba(31, 41, 55, 80%);
}

.header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
}

.header p {
    color:#E5E7EB;
    font-size: 18px;
    margin: 10px;
}

button{
    background-color:#3882F6;
    color: #fff;
    border: 2px #fff;
    padding: 8px 25px;
    border-style: solid;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 10px;
}

button:hover{
    background-color:#0f4fb6;
}

button:active{
    background-color: #5b85c9;
}

.header img{
  max-width: 600px;
  margin: 0 40px;
}



/*--- RANDOM INFORMATION --*/

.boxes{
    background-color: rgba(255, 255, 255, 50%);
}

h2{
    font-size: 36px;
    color: #1F2937;
}

.boxes h2{
  text-align: center;
}

.box-img {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 20px 0;
}

.box-img .box{
  text-align: center;
  margin: 0 40px;
  max-width: 150px;
}

.boxes img{
  width: 100%;
}

/*-- QUOTE --*/

.quote{
  background-color: #E5E7EB ;
  padding: 30px 0;
}

.quote q{
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
}

.quote .container{
  width: 800px;
  text-align: center;
}

/*-- Sign up --*/

.subscribe {
  background-color: rgba(255, 255, 255, 70%);
  padding: 50px 20px;
}

.subscribe .container{
  background-color: #3882F6;
  color: #fff;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 10px;
}

.subscribe .singup{
  margin-bottom: 10px;
}

/*-- Footer --*/

footer{
  background-color: #1F2937;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 20px;
}

.top{
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.top a{
  color: #fff;
  text-decoration: none;
}

.top a:hover{
  color: #bdb5b5;
}

@media(max-width: 950px) {
  .header .container {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .header img{
    padding-top: 20px;
  }

.boxes .box-img {
  display: flex;
  flex-wrap: wrap;
}

.boxes .box{
  padding: 10px 0;
}

.quote{
  display: flex;
}

.top{
  justify-content: center;
  padding-right: 0;
}
}
